In [1]:
import pandas as pd
import seaborn as sns

# Reviews dataset

## Load data

In [2]:
raw_reviews_df = pd.read_csv("../data/0_raw/app_reviews/app_store_reviews.csv")

## Columns and row counts

In [3]:
raw_reviews_df.columns

Index(['date', 'userName', 'title', 'rating', 'isEdited', 'review',
       'crawled_at', 'url', 'app_id', 'country', 'app_name', '_id',
       'developerResponse'],
      dtype='object')

In [4]:
raw_reviews_df.shape

(10588, 13)

In [24]:
raw_reviews_df.loc[0]

# TODO: identify language of each review

date                                               2017-09-08 11:58:17
userName                                                        Mika ðŸ‘½
title                                          Dieser nervige Button ðŸ˜‚
rating                                                               5
isEdited                                                         False
review               Sehr gute App, erfÃ¼llt Ihren Zweck. Finde so g...
crawled_at                                         2021-02-21 10:15:43
url                  https://apps.apple.com/at/app/whatsapp-messeng...
app_id                                                       310633997
country                                                             at
app_name                                            whatsapp-messenger
_id                               32f9ec7e-74de-578d-acf6-48d4182cae60
developerResponse                                                  NaN
Name: 0, dtype: object

## Check for unique ID column

In [32]:
raw_reviews_df["_id"].nunique()

10585

In [27]:
raw_reviews_df.groupby("_id").count().sort_values("review", ascending=False)

,date,userName,title,rating,isEdited,review,crawled_at,url,app_id,country,app_name,developerResponse
_id,,,,,,,,,,,,
f2d62140-4374-518c-aab8-1d178703dc1f,2,2,2,2,2,2,2,2,2,2,2,0
57cc89e8-7723-505e-8894-586fca6b5508,2,2,2,2,2,2,2,2,2,2,2,0
6c7fd794-4037-59a5-941a-19871abe6789,2,2,2,2,2,2,2,2,2,2,2,0
0004f98e-c8b9-5078-bd67-80fc9aeced43,1,1,1,1,1,1,1,1,1,1,1,0
abcd6cf0-3e68-5466-9a2c-901d8cdc49fa,1,1,1,1,1,1,1,1,1,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...
5693147d-2882-5757-bfca-7095088a83bb,1,1,1,1,1,1,1,1,1,1,1,0
569317d1-7473-5c47-a0a5-c47f57d56118,1,1,1,1,1,1,1,1,1,1,1,0
5696e0a6-7a97-563f-9216-4db3d119a6cd,1,1,1,1,1,1,1,1,1,1,1,0
569d05f0-9b31-5e06-8e70-6d05353a324d,1,1,1,1,1,1,1,1,1,1,1,0
fffa9a9c-31e6-56c6-8e0a-91b31587f157,1,1,1,1,1,1,1,1,1,1,1,0

In [30]:
ids_to_check = ["f2d62140-4374-518c-aab8-1d178703dc1f", "57cc89e8-7723-505e-8894-586fca6b5508", "6c7fd794-4037-59a5-941a-19871abe6789"]

mask = raw_reviews_df["_id"].isin(ids_to_check)
raw_reviews_df[mask].drop_duplicates().count()

date                 3
userName             3
title                3
rating               3
isEdited             3
review               3
crawled_at           3
url                  3
app_id               3
country              3
app_name             3
_id                  3
developerResponse    0
dtype: int64

In [31]:
raw_reviews_df = raw_reviews_df.drop_duplicates()
raw_reviews_df.shape

(10585, 13)

## Check for null values

In [36]:
raw_reviews_df.describe(include='all')

# only 2 apps in whole dataset
# developer response often null, which makes sense
# 1 review missing title

,date,userName,title,rating,isEdited,review,crawled_at,url,app_id,country,app_name,_id,developerResponse
count,10585,10585,10584,10585.000000,10585,10585,10585,10585,1.058500e+04,10585,10585,10585,51
unique,10584,10585,6506,NaN,2,9940,3,2,NaN,2,2,10585,51
top,2013-11-22 15:54:49,Mika ðŸ‘½,Super,NaN,False,Super,2021-02-21 10:15:44,https://apps.apple.com/at/app/whatsapp-messeng...,NaN,at,whatsapp-messenger,32f9ec7e-74de-578d-acf6-48d4182cae60,"{'id': 5283376, 'body': 'Vielen Dank, dass du ..."
freq,2,1,238,NaN,10579,47,5416,8972,NaN,8972,8972,1,1
mean,NaN,NaN,NaN,3.768446,NaN,NaN,NaN,NaN,3.276042e+08,NaN,NaN,NaN,NaN
std,NaN,NaN,NaN,1.608728,NaN,NaN,NaN,NaN,4.002539e+07,NaN,NaN,NaN,NaN
min,NaN,NaN,NaN,1.000000,NaN,NaN,NaN,NaN,3.106340e+08,NaN,NaN,NaN,NaN
25%,NaN,NaN,NaN,3.000000,NaN,NaN,NaN,NaN,3.106340e+08,NaN,NaN,NaN,NaN
50%,NaN,NaN,NaN,5.000000,NaN,NaN,NaN,NaN,3.106340e+08,NaN,NaN,NaN,NaN
75%,NaN,NaN,NaN,5.000000,NaN,NaN,NaN,NaN,3.106340e+08,NaN,NaN,NaN,NaN
max,NaN,NaN,NaN,5.000000,NaN,NaN,NaN,NaN,4.219978e+08,NaN,NaN,NaN,NaN

## Which apps have most reviews

In [ ]:
raw_reviews_df.groupBy()