In [3]:
import pandas as pd
import seaborn as sns

# Reviews dataset

## Load data

In [4]:
raw_reviews_df = pd.read_csv("../data/0_raw/app_reviews/googleplaystore_user_reviews.csv")

## Columns and row counts

In [5]:
raw_reviews_df.columns

Index(['App', 'Translated_Review', 'Sentiment', 'Sentiment_Polarity',
       'Sentiment_Subjectivity'],
      dtype='object')

In [6]:
raw_reviews_df.shape

(64295, 5)

In [7]:
raw_reviews_df.loc[0]

# TODO: identify language of each review

App                                                   10 Best Foods for You
Translated_Review         I like eat delicious food. That's I'm cooking ...
Sentiment                                                          Positive
Sentiment_Polarity                                                      1.0
Sentiment_Subjectivity                                             0.533333
Name: 0, dtype: object

## Check for null values

In [9]:
raw_reviews_df.describe(include='all')

# only 2 apps in whole dataset
# developer response often null, which makes sense
# 1 review missing title

,App,Translated_Review,Sentiment,Sentiment_Polarity,Sentiment_Subjectivity
count,64295,37427,37432,37432.000000,37432.000000
unique,1074,27994,3,NaN,NaN
top,Angry Birds Classic,Good,Positive,NaN,NaN
freq,320,247,23998,NaN,NaN
mean,NaN,NaN,NaN,0.182146,0.492704
std,NaN,NaN,NaN,0.351301,0.259949
min,NaN,NaN,NaN,-1.000000,0.000000
25%,NaN,NaN,NaN,0.000000,0.357143
50%,NaN,NaN,NaN,0.150000,0.514286
75%,NaN,NaN,NaN,0.400000,0.650000
max,NaN,NaN,NaN,1.000000,1.000000

## Which apps have most reviews

In [13]:
raw_reviews_df.groupby("App").size().sort_values(ascending=False)

App
Angry Birds Classic                                  320
CBS Sports App - Scores, News, Stats & Watch Live    320
Bowmasters                                           320
8 Ball Pool                                          300
Helix Jump                                           300
                                                    ...
Easy Healthy Recipes                                  31
Dresses Ideas & Fashions +3000                        31
Detector de Radares Gratis                            31
Easy Hair Style Design                                30
Drawing Clothes Fashion Ideas                         30
Length: 1074, dtype: int64

## Which categories have most reviews